# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Karl Frazier
#	email = lordkthesith@gmail.com
[user]
	name = karlfrazier
	email = lordkthesith@gmail.com
